$mainColor: #ff6679;
$primaryColor: #0076ff;
$headerColor: #202831;
$bgColor: #2a333e;
$bgDarkColor: #181f26;

$mediaXS: 576px;
$mediaSmall: 768px;
$mediaMedium: 992px;
$mediaLarge: 1200px;

$headerSize: 60px;
$margin: 15px;
$padding: 12px;
$borderRadius: 10px;
